@font-face {
    font-family: 'CabinSketch-Bold';
    src: url('/custom_font_integrationn/static/fonts/CabinSketch-Bold.WOFF') format('truetype');
}

@font-face {
    font-family: 'CabinSketch-Regular';
    src: url('/custom_font_integrationn/static/fonts/CabinSketch-Regular.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-Bold';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Bold.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-BoldOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-BoldOblique.WOFF') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-DemiBold';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-DemiBold.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-DemiBoldOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-DemiBoldOblique.WOFF') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-ExtraBold';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-ExtraBold.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-ExtraBoldOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-ExtraBoldOblique.WOFF') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-Heavy';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Heavy.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-HeavyOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-HeavyOblique.WOFF') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-Light';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Light.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-LightOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-LightOblique.WOFF') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-Medium';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Medium.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-MediumOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-MediumOblique.woff') format('truetype');
}


@font-face {
    font-family: 'VisbyCF-Regular';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Regular.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-RegularOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-RegularOblique.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-Thin';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-Thin.WOFF') format('truetype');
}

@font-face {
    font-family: 'VisbyCF-ThinOblique';
    src: url('/custom_font_integrationn/static/fonts/VisbyCF-ThinOblique.WOFF') format('truetype');
}

/* Appliquer la police personnalisée à tous les éléments de texte */
body{
  font-family: 'VisbyCF-MediumOblique', sans-serif;
}
